$background-color: #DADADA;
$text-base-color: #444;

body {
  background-color: $background-color;
  color: $text-base-color;
}

@import "reset";
@import "App";
@import "SearchForm";
@import "GeocodeResult";
@import "Map";
@import "HotelsTable";
@import "HotelRow";